:root {
  --body-bg-color: #f2f4f5;
  --white-bg: #FFF;
  --gray-bg-light: #f3f3f3;
  --blue: #096dd9;
  --light-blue: #91d5ff;
  --light-white-blue: #e6f7ff;
  --middle-white-blue: #daf0fb;
  --black-bg-opacity: #00000033;
  --text1-color-black: #4a4a4a;
  --text2-color-black: #666;
}